stages:
  #  - sonar-check
  - build
  - beforetest
  - test
  - aftertest
  - rebuilding

#sonarqube-check:
#  stage: sonar-check
#  variables:
#    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
#    SONAR_TOKEN: "ba00cdec2010b5084058842e1595cdb104055c9b"
#    SONAR_HOST_URL: "http://sonarqube:9000/"
#    SONAR_PROJECT_KEY: "pet_clinic"
#  script:
#    - mvn compile -P testprod sonar:sonar -e -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_TOKEN
#  tags:
#    - clinic_docker_runner
#  allow_failure: false
#  rules:
#    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

building:
  stage: build
  before_script:
    - docker-compose down
    - docker image prune -a -f
    - docker-compose build pets_db
    - docker-compose build petclinic_run
  script:
    - docker-compose up -d pets_db
    - docker-compose up -d petclinic_run
  after_script:
    - docker image prune -f
  tags:
    - clinic_shell
  rules:
    - if: $CI_COMMIT_BRANCH == 'master'

beforetest:
  stage: beforetest
  script:
    - docker-compose build test_pets_db
    - docker-compose build test_petclinic_run
    - docker-compose up -d test_pets_db
    - docker-compose up -d test_petclinic_run
  tags:
    - clinic_shell
  rules:
    - if: $CI_MERGE_REQUEST_IID

test_maven:
  stage: test
  script:
    - mvn clean test -P testprod
  tags:
    - clinic_docker_runner
  artifacts:
    reports:
      junit:
        - web/target/surefire-reports/TEST-*.xml
        - web/target/failsafe-reports/TEST-*.xml
  rules:
    - if: $CI_MERGE_REQUEST_IID

aftertest:
  stage: aftertest
  script:
    - docker-compose rm -f -s test_pets_db
    - docker-compose rm -f -s test_petclinic_run
  tags:
    - clinic_shell
  rules:
    - if: $CI_MERGE_REQUEST_IID

rebuilding:
  stage: rebuilding
  before_script:
    - docker-compose down -v
    - docker image prune -a -f
    - docker-compose build pets_db
    - docker-compose build petclinic_run
  script:
    - docker-compose up -d pets_db
    - docker-compose up -d petclinic_run
  after_script:
    - docker image prune -f
  tags:
    - clinic_shell
  when: manual
#  rules:
#    - if: $CI_COMMIT_BRANCH == 'master'