version: '3.3'
services:
  db:
    container_name: pets_db
    image: library/postgres:${POSTGRES_VERSION}

    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=pets
      - PGDATA=${PGDATA}pets
    ports:
      - 5433:5432
    volumes:
      - pg_data:${PGDATA}pets

  test_db:
    container_name: test_pets_db
    image: library/postgres:${POSTGRES_VERSION}
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=test_pets
      - PGDATA=${PGDATA}test_pets
    ports:
      - 5434:5432

  petclinic:
     container_name: petclinic_run
     build: .
     ports:
       - 8080:8080
     depends_on:
       - db
     environment:
       - SPRING_PROFILES_ACTIVE=prod

  test_petclinic:
    container_name: test_petclinic_run
    build: .
    ports:
      - 8080:8080
    depends_on:
      - test_db
    environment:
      - SPRING_PROFILES_ACTIVE=test

volumes:
  pg_data:
networks:
  default:
    external:
      name: pet_network
